/*Mixing*/
/*Flex center*/ 
/*Toda mi estructura ya la habia formado anteriormente, por ende no le di uso al mixing.*/

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Estilo botones*/
@mixin btn {
    height: 40px;
    width: 150px;
    background-color: #2e2e2e;
    color: #ffff;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    margin: 5px;
}
/*Variables*/
$color-principal: rgb(27, 69, 109); /*Intente utilizar esta variable pero no me funciono*/

main {font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; }
