/*Version mobile first index*/
/*Primer contariner*/
.card_index {
	display: flex;
	justify-content: center;
	position: relative;

	&_texto {
		margin-top: 75px;
		width: 290px;
		color: white;
		position: absolute;
		left: 25px;
		align-self: center;
	}

	img {
		object-fit: cover;
		height: 397px;
		width: 100%;
	}

	&_btn {
		height: 40px;
		width: 150px;
		background-color: #2e2e2e;
		color: #ffff;
		outline: none;
		border: none;
		box-shadow: none;
		border-radius: 4px;
	}
}




/* Estilos categorias */
.container-categorias {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;

	&-desktop {
		display: none;
	}

	& img {
		object-fit: cover;
		height: 397px;
		width: 95%;
	}

}
.btn_categorias {
	@include btn;
}

/* Version Mobile tittle h2-*/
.container-index-2 {
	margin: 10px auto;
	width: 95%;
	text-align: center;
	min-height: 65px;
}

/* Version Mobile tittle h3 */
.tittle-trabajos-index {
	margin: 0 auto;
	width: 95%;
	height: 65px;
	margin-top: 15px;
	text-align: center;
	align-self: center;
}

/* Version mobile Imagenes de Trabajos Realizados*/
.contenedor-muestra {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;

	& img {
		object-fit: cover;
		height: 397px;
		width: 95%;
	}
}
.btn-ver{
	@include btn;
	margin-bottom: 10px;
}

@media(min-width: 768px) {

	.card_index {
		display: flex;
		justify-content: center;
		position: relative;

		&_texto {
			margin-top: 55px;
			width: 390px;
			color: white;
			position: absolute;
			left: 45px;
			align-self: center;
		}

		& img {
			height: 597px;
			width: 100%;
		}
	}
	
	/* Ocultar contenedor categorias version mobile con botones*/
	.container-categorias {
		display: none;
/*Mostrar contenedor categorias version desktop*/
		&-desktop {
			margin: 5px;
			gap: 10px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
			width: 90%;
			margin: 0 auto;
			justify-self: center;
			align-self: center;
		}
	}
/*Alineado de imagen con botones seccion categoria*/
	.cont-img {
		display: flex;
		flex-wrap: wrap;
		

		& img {
			width: 95%;
			height: 320px;
			object-fit: cover;
		}
	}
	.btn-categorias-desktop {
		@include btn;
		margin: 5px auto;
	}
/*Modificacion h3 "Trabajos realizados..."*/
	.tittle-trabajos-index {
		margin-top:50px;
	}

/*Galeria de imagenes index*/
.contenedor-muestra {
	display: grid;
	grid-template-columns: repeat(2,1fr);

	& img {
		justify-self: center;
		object-fit: cover;
		height: 397px;
		width: 95%;
	}
}
.btn-ver {
	margin: 20px auto;
}
}

/* Version desktop pagina inicio min-width:1023px*/
@media (min-width:1023px) {

	/*Primer contenedor index*/
	.card_index {
		display: flex;
		justify-content: center;
		position: relative;

		&_texto {
			margin-top: 25px;
			width: 390px;
			color: white;
			position: absolute;
			left: 95px;
			align-self: center;
		}

		& img {
			height: 697px;
			width: 100%;
		}
	}

	/* Version desktop Parrafo + h2 / Segundo contenedor*/
	.container-index-2 {
		margin: 0 auto;
		width: 55%;
		margin-top: 20px;
		text-align: center;
		align-self: center;
	}

	/* Ocultar contenedor categorias version mobile con botones*/
	.container-categorias {
		display: none;
	}

	.btn_categorias {
		display: none;
	}

	/*Mostrar contenedor desktop de la seccion categorias*/
	.container-categorias-desktop {
		margin: 0 auto;
		gap: 10px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;

	}

	.cont-img {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		& img {
			width: 95%;
			height: 380px;
			object-fit: cover;
		}
	}
	.btn_categorias-desktop {
		@include btn;
		margin: 0 auto;
	}

}

@media (min-width:1200px) {

	/*Primer contenedor index*/
	.card_index {
		display: flex;
		justify-content: center;
		position: relative;

		&_texto {
			margin-top: 25px;
			width: 390px;
			color: white;
			position: absolute;
			left: 125px;
			align-self: center;
		}

		& img {
			height: 697px;
			width: 100%;
		}
	}
	.cont-img {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		& img {
			width: 95%;
			height: 480px;
			object-fit: cover;
		}
	}
}