/*Version mobile first index*/
/*Primer contariner*/
main {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}
.card_index {
	display: flex;
	justify-content: center;
	position: relative;

	&_texto {
		text-shadow: 3px 3px 5px $color-principal;
		margin-top: 75px;
		width: 290px;
		color: white;
		position: absolute;
		left: 25px;
		align-self: center;
	& h1 {
		font-size: 1.2rem;
	}
	& p {
		font-size: 0.75rem;
	}
	}

	img {
		object-fit: cover;
		height: 397px;
		width: 100%;
	}

	&_btn {
	@include btn;
	box-shadow: 2px 2px 5px $color-principal;
	
	}
	& a{
		text-decoration: none;
		color: white;
	}
}
/* Estilos categorias */
.container-categorias {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;

	&-desktop {
		display: none;
	}

	& img {
		object-fit: cover;
		height: 397px;
		width: 95%;
	}

}
.btn_categorias {
	@include btn;
	box-shadow: 2px 2px 5px $color-principal;
}

/* Version Mobile tittle h2-*/
.container-index-2 {
	margin: 10px auto;
	width: 95%;
	text-align: center;
	min-height: 65px;
	& p {
		font-size: 0.9rem;
	}
	& h2 {
		font-size: 1.8rem;
		color: $color-principal;
	
	}
}

/* Version Mobile tittle h3 */
.tittle-trabajos-index {
	font-size: 1.8rem;
	color: $color-principal;
	width: 95%;
	margin-top: 15px;
	text-align: center;
	align-self: center;
	margin-left: 25px;
}

/* Version mobile Imagenes de Trabajos Realizados*/
.contenedor-muestra {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 95%;
	margin: 0 auto;

	& img {
		object-fit: cover;
		height: 397px;
		width: 80%;
		

	}
}
.flex-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-ver {
	@include btn;
	margin: 15px auto;
	box-shadow: 2px 2px 5px $color-principal;
& a{
	text-decoration: none;
	color: white;
}
}
@media(min-width: 768px) {

	.card_index {
		display: flex;
		justify-content: center;
		position: relative;

		&_texto {
			margin-top: 55px;
			width: 390px;
			color: white;
			position: absolute;
			left: 45px;
			align-self: center;
			& p{
				font-size: 1rem;
			}
			& h1{
				font-size: 1.8rem;
			}
		}

		& img {
			height: 597px;
			width: 100%;
			
		}
	}
/* Ocultar contenedor categorias version mobile con botones*/
	.container-categorias {
		display: none;
/*Mostrar contenedor categorias version desktop*/
		&-desktop {
			gap: 10px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
			width: 80%;
			margin: 0 auto;
			justify-self: center;
			align-self: center;
		}
	}
/*Alineado de imagen con botones seccion categoria*/
	.cont-img {
		display: flex;
		flex-wrap: wrap;
		

		& img {
			width: 95%;
			height: 320px;
			object-fit: cover;
			box-shadow: 1px 1px 5px black;
			&:hover{
				filter: contrast(24%);
			}
		}
	}
	.btn-categorias-desktop {
		@include btn;
		margin: 5px auto;
		box-shadow: 2px 2px 5px $color-principal;
		width: 110px;
		height: 25px;
	}
/*Modificacion h3 "Trabajos realizados..."*/
	.tittle-trabajos-index {
		margin-top:50px;
	}

/*Galeria de imagenes index*/
.contenedor-muestra {
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(2,1fr);
        margin: 0 auto;
		width: 90%;
		
    & img {
		background-position: center;
        justify-self: center;
		box-shadow: 1px 1px 5px black;
		&:hover{
			filter: contrast(24%);
		}
    }
	
	}
}

/* Version desktop pagina inicio min-width:1023px*/
@media (min-width:1023px) {

	/*Primer contenedor index*/
	.card_index {
		display: flex;
		justify-content: center;
		position: relative;

		&_texto {
			margin-top: 25px;
			width: 390px;
			color: white;
			position: absolute;
			left: 95px;
			align-self: center;
		}

		& img {
			height: 697px;
			width: 100%;
		}
	}
}	
.co
	.cont-img {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;

		& img {
			width: 95%;
			height: 380px;
			object-fit: cover;
		}
	}

@media (min-width:1200px) {

	/*Primer contenedor index*/
	.card_index {
		display: flex;
		justify-content: center;
		position: relative;

		&_texto {
			margin-top: 25px;
			width: 390px;
			color: white;
			position: absolute;
			left: 125px;
			align-self: center;
		}

		& img {
			height: 697px;
			width: 100%;
		}
	}
}