/* Estilos pagina about */
.nombre-destacado{
    color: red;
}
.container-about {
	margin: 0 auto;
	width: 95%;
	text-align: center;
	margin-top: 55px;
    & h1{
        color: $color-principal;
        font-size: 1.8rem;
    }
}
.galeria-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
    
    & img {
        width: 95%;
        object-fit: cover;
        height: 397px;
    }
}

.description-about {
	width: 95%;
	margin: 0 auto;
	margin-top: 25px;
	align-self: center;
	text-align: justify;
    margin-bottom: 15px;
    padding: 25px;
    & p{
        font-size: 0.9rem;
    } 
}
.span-agradecimiento{
	border-bottom: 5px dotted greenyellow;
	float: right;
	font-size: 25px;
	text-decoration: dotted;
	margin-bottom: 10px;
}

@media (min-width:768px) {
    .galeria-about{
    width: 80%;
    margin: 0 auto; 
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    
    & img {
        justify-self: center;
        object-fit: cover;
        min-width: 220px;
        }
    }
    .description-about{
        margin: 50px auto;
        width: 80%;
    }
}
@media (min-width:1024px) {
    .galeria-about {
        width: 75%;
        height: 420px;
    & img {
        height: 100%;
        justify-self: center;
    }
    }
    .description-about{
        width: 65%;
    }
}