.nav-desktop {
	display: none;
}

/*Estilos nav Version desktop*/
@media(min-width: 1024px){
/*Ocultar nav version mobile*/
.navbar {
	display: none;
}
	.nav-desktop {
		display: flex;
		justify-content: space-around;
		height: 80px;
		padding: 15px;
		align-items: baseline;
		background-color: rgb(69, 78, 156);
		margin-bottom: 15px;
		ul {
			color: white;
			list-style-type: none;
			display: flex;
			gap: 15px;
			
		}
	}
}

.logotipo-desktop {
	color: white;
}