/*Mixing*/
/*Flex center*/
/*Toda mi estructura ya la habia formado anteriormente, por ende no le di uso al mixing.*/
/*Estilo botones*/
/*Variables*/
/*Intente utilizar esta variable pero no me funciono*/
main {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.card-footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 69, 109);
  color: white;
}

.footer-div {
  margin-left: 15px;
  margin-bottom: 15px;
}

.btn-redes {
  display: flex;
  gap: 5px;
  color: white;
}
.btn-redes a {
  text-decoration: none;
  font-size: 28px;
  width: 25px;
  height: 20px;
  line-height: 25px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .card-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
  .footer-div {
    margin-left: 0px;
  }
}
html {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.nav-desktop {
  display: none;
}

.container-fluid {
  width: 100%;
}

.logotipo-desktop {
  color: white;
}

/*Estilos nav Version desktop*/
@media (min-width: 768px) {
  /*Ocultar nav version mobile*/
  .navbar {
    display: none;
  }
  .nav-desktop {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 15px;
    align-items: baseline;
    background-color: rgb(27, 69, 109);
  }
  .nav-desktop ul {
    color: white;
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
}
@media (min-width: 1023px) {
  /*Ocultar nav version mobile*/
  .navbar {
    display: none;
  }
  .nav-desktop {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    padding: 15px;
    align-items: baseline;
    background-color: rgb(27, 69, 109);
  }
  .nav-desktop ul {
    color: white;
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
}
/*Version mobile first index*/
/*Primer contariner*/
main {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.card_index {
  display: flex;
  justify-content: center;
  position: relative;
}
.card_index_texto {
  text-shadow: 3px 3px 5px rgb(27, 69, 109);
  margin-top: 75px;
  width: 290px;
  color: white;
  position: absolute;
  left: 25px;
  align-self: center;
}
.card_index_texto h1 {
  font-size: 1.2rem;
}
.card_index_texto p {
  font-size: 0.75rem;
}
.card_index img {
  object-fit: cover;
  height: 397px;
  width: 100%;
}
.card_index_btn {
  height: 40px;
  width: 150px;
  background-color: #2e2e2e;
  color: white;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  margin: 5px;
  box-shadow: 2px 2px 5px rgb(27, 69, 109);
}
.card_index a {
  text-decoration: none;
  color: white;
}

/* Estilos categorias */
.container-categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.container-categorias-desktop {
  display: none;
}
.container-categorias img {
  object-fit: cover;
  height: 397px;
  width: 95%;
}

.btn_categorias {
  height: 40px;
  width: 150px;
  background-color: #2e2e2e;
  color: white;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  margin: 5px;
  box-shadow: 2px 2px 5px rgb(27, 69, 109);
}

/* Version Mobile tittle h2-*/
.container-index-2 {
  margin: 10px auto;
  width: 95%;
  text-align: center;
  min-height: 65px;
}
.container-index-2 p {
  font-size: 0.9rem;
}
.container-index-2 h2 {
  font-size: 1.8rem;
  color: rgb(27, 69, 109);
}

/* Version Mobile tittle h3 */
.tittle-trabajos-index {
  font-size: 1.8rem;
  color: rgb(27, 69, 109);
  width: 95%;
  margin-top: 15px;
  text-align: center;
  align-self: center;
  margin-left: 25px;
}

/* Version mobile Imagenes de Trabajos Realizados*/
.contenedor-muestra {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 95%;
  margin: 0 auto;
}
.contenedor-muestra img {
  object-fit: cover;
  height: 397px;
  width: 80%;
}

.flex-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ver {
  height: 40px;
  width: 150px;
  background-color: #2e2e2e;
  color: white;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  margin: 5px;
  margin: 15px auto;
  box-shadow: 2px 2px 5px rgb(27, 69, 109);
}
.btn-ver a {
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  .card_index {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .card_index_texto {
    margin-top: 55px;
    width: 390px;
    color: white;
    position: absolute;
    left: 45px;
    align-self: center;
  }
  .card_index_texto p {
    font-size: 1rem;
  }
  .card_index_texto h1 {
    font-size: 1.8rem;
  }
  .card_index img {
    height: 597px;
    width: 100%;
  }
  /* Ocultar contenedor categorias version mobile con botones*/
  .container-categorias {
    display: none;
    /*Mostrar contenedor categorias version desktop*/
  }
  .container-categorias-desktop {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 80%;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
  }
  /*Alineado de imagen con botones seccion categoria*/
  .cont-img {
    display: flex;
    flex-wrap: wrap;
  }
  .cont-img img {
    width: 95%;
    height: 320px;
    object-fit: cover;
    box-shadow: 1px 1px 5px black;
  }
  .cont-img img:hover {
    filter: contrast(24%);
  }
  .btn-categorias-desktop {
    height: 40px;
    width: 150px;
    background-color: #2e2e2e;
    color: white;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    margin: 5px;
    margin: 5px auto;
    box-shadow: 2px 2px 5px rgb(27, 69, 109);
    width: 110px;
    height: 25px;
  }
  /*Modificacion h3 "Trabajos realizados..."*/
  .tittle-trabajos-index {
    margin-top: 50px;
  }
  /*Galeria de imagenes index*/
  .contenedor-muestra {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    width: 90%;
  }
  .contenedor-muestra img {
    background-position: center;
    justify-self: center;
    box-shadow: 1px 1px 5px black;
  }
  .contenedor-muestra img:hover {
    filter: contrast(24%);
  }
}
/* Version desktop pagina inicio min-width:1023px*/
@media (min-width: 1023px) {
  /*Primer contenedor index*/
  .card_index {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .card_index_texto {
    margin-top: 25px;
    width: 390px;
    color: white;
    position: absolute;
    left: 95px;
    align-self: center;
  }
  .card_index img {
    height: 697px;
    width: 100%;
  }
}
.co .cont-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.co .cont-img img {
  width: 95%;
  height: 380px;
  object-fit: cover;
}

@media (min-width: 1200px) {
  /*Primer contenedor index*/
  .card_index {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .card_index_texto {
    margin-top: 25px;
    width: 390px;
    color: white;
    position: absolute;
    left: 125px;
    align-self: center;
  }
  .card_index img {
    height: 697px;
    width: 100%;
  }
}
/* Styles section contacto mobile first*/
footer {
  margin-top: 15px;
}

.container-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.container-contacto img {
  margin-top: 15px;
  align-self: center;
  object-fit: cover;
  height: 95%;
  width: 95%;
}
.container-contacto .form-container {
  margin-top: 55px;
  margin-left: 5%;
  height: 95%;
  width: 95%;
}
.container-contacto .form-container h1 {
  font-size: 1.8rem;
  color: rgb(27, 69, 109);
}

/*Estilos interior forumlario*/
.form-container form {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 10px;
  height: 95%;
}

.relleno-form {
  width: 100%;
  height: 48px;
  padding: 16px 56px 16px 16px;
  background-color: #f1f1f1;
  outline: none;
  border: none;
  box-shadow: none;
  height: 45px;
}

textarea {
  padding: 16px 56px 16px 16px;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #f1f1f1;
  min-height: 96px;
  overflow: auto;
  resize: vertical;
}

.btn-form {
  height: 40px;
  width: 150px;
  background-color: #2e2e2e;
  color: white;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  margin: 5px;
}

/*Estructura desktop 768px Seccion contacto*/
@media (min-width: 768px) {
  .form-container {
    height: 95%;
    width: 70%;
  }
  .container-contacto {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 70%;
  }
  .container-contacto img {
    margin-top: 15px;
    align-self: center;
    object-fit: cover;
    height: 96%;
    width: 90%;
  }
}
/* Version desktop pagina contacto min-width:1023px*/
@media (min-width: 1023px) {
  .container-contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 95%;
    height: 700px;
    margin: 0 auto;
  }
  .container-contacto img {
    object-fit: cover;
    width: 50%;
    height: 80%;
    min-width: 493px;
    max-width: 550px;
    height: 100%;
  }
  .container-contacto .form-container {
    min-width: 493px;
    max-width: 550px;
    width: 50%;
  }
}
/*CORREGIR ESTRUCTURA CONTACTO */
/* Estilos pagina about */
.nombre-destacado {
  color: red;
}

.container-about {
  margin: 0 auto;
  width: 95%;
  text-align: center;
  margin-top: 55px;
}
.container-about h1 {
  color: rgb(27, 69, 109);
  font-size: 1.8rem;
}

.galeria-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.galeria-about img {
  width: 95%;
  object-fit: cover;
  height: 397px;
}

.description-about {
  width: 95%;
  margin: 0 auto;
  margin-top: 25px;
  align-self: center;
  text-align: justify;
  margin-bottom: 15px;
  padding: 25px;
}
.description-about p {
  font-size: 0.9rem;
}

.span-agradecimiento {
  border-bottom: 5px dotted greenyellow;
  float: right;
  font-size: 25px;
  text-decoration: dotted;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .galeria-about {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
  }
  .galeria-about img {
    justify-self: center;
    object-fit: cover;
    min-width: 220px;
  }
  .description-about {
    margin: 50px auto;
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .galeria-about {
    width: 75%;
    height: 420px;
  }
  .galeria-about img {
    height: 100%;
    justify-self: center;
  }
  .description-about {
    width: 65%;
  }
}
/* Estilos pagina tienda */
.tittle-tienda {
  margin-top: 75px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.tittle-tienda h1 {
  color: rgb(27, 69, 109);
  font-size: 1.8rem;
}

.galeria-tienda {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  gap: 5px;
  background-color: #f1f1f1;
  margin-bottom: 25px;
}

.cont-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 350px;
}
.cont-producto img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  box-shadow: 1px 1px 5px black;
}
.cont-producto img:hover {
  filter: contrast(24%);
}
.cont-producto h1 {
  padding-top: 5px;
  align-self: start;
  font-size: 1.2rem;
}

.div-precio-comprar {
  display: flex;
  justify-content: space-between;
}

.comprar a {
  text-decoration: none;
  color: rgb(27, 69, 109);
}
.comprar a:hover {
  color: green;
}

@media (min-width: 768px) {
  .galeria-tienda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 95%;
    justify-items: center;
  }
  .cont-producto {
    display: flex;
    justify-content: center;
  }
  .cont-producto img {
    object-fit: cover;
  }
  .cont-producto h1 {
    align-self: start;
    font-size: 1.2rem;
  }
}
@media (min-width: 1023px) {
  .galeria-tienda {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
  }
  .cont-producto {
    display: flex;
    justify-content: center;
  }
  .cont-producto img {
    object-fit: cover;
  }
  .cont-producto h1 {
    align-self: start;
    font-size: 1.2rem;
  }
}
/* Estilos pagina trabajos*/
.container-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 15px;
}
.container-galeria img {
  height: 397px;
  width: 95%;
  object-fit: cover;
  box-shadow: 1px 1px 5px black;
}
.container-galeria img:hover {
  filter: contrast(24%);
}

.container-trabajos {
  margin: 0 auto;
  text-align: center;
  margin-top: 65px;
}
.container-trabajos h1 {
  font-size: 1.8rem;
  color: rgb(27, 69, 109);
}

@media (min-width: 768px) {
  .container-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 5px auto;
  }
  .container-galeria img {
    justify-self: center;
  }
  .container-galeria img:hover {
    filter: contrast(24%);
  }
}
@media (min-width: 1023px) {
  .container-trabajos {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .container-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    margin: 15px auto;
  }
  .container-galeria img {
    justify-self: center;
  }
}
@media (min-width: 1200px) {
  .container-trabajos {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .container-galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .container-galeria img {
    justify-self: center;
  }
}

/*# sourceMappingURL=styles.css.map */
